/* font-family: 'Quicksand', sans-serif; */
html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}
.fondo-index{
    background: #323232;
    display: grid;
    grid-template-areas: "a""b";
    width: 100%;
    margin: auto ;
  
}
.fondo-titulo{
    grid-area: a;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13rem;
    text-align: center;
    color: cornsilk;
    margin-top: 18rem;
    margin-bottom: 0;
}
.fondo-subtitulo{
    grid-area: b;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    color: cornsilk;
    margin-top: 3rem;
    text-decoration-line: overline;
    text-decoration-thickness: from-font;
}
@media screen and (min-width: 640px) and (max-width: 1280px) {

    .fondo-titulo{        
        font-size: 11rem;
    }
    .fondo-subtitulo{
        font-size: 2.3rem;
    }
    
}
@media screen and (max-width: 640px) {

    .fondo-titulo{        
        font-size: 8rem;
    }
    .fondo-subtitulo{
        font-size: 2rem;
    }
    
}

.fondo-general{
    display: grid;
    grid-template-areas: "a""b""c";
    width: 100%;
    margin: auto ;
}
.header-general{
    display: grid;
    grid-template-areas: "d e";
    grid-template-columns: 31% 70%;
    width: 100%;
    margin: auto ;
}
.header-titulo{
    background: #323232;
    grid-area: d;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 4.2rem;
    text-align: center;
    color: cornsilk;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.header-nav{
    background: #323232;
    grid-area: e;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    text-align: center;    
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-areas: "f g h i";
    justify-content: stretch;
    align-content: center;    
}
.nav-respo{
    display: none;
}

.nav-link{
    color: cornsilk;
    text-decoration:none;    
}
.nav-link:hover { 
    color: #b2936d;  
    font-weight: bold;   
    transition-duration: 0.6s;
    transition-property: color;
}
.nav1{
    grid-area: f;
}
.nav2{
    grid-area: g;
}
.nav3{
    grid-area: h;
}
.nav4{
    grid-area: i;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    .header-titulo{
        font-size: 3.8rem;
    }
    .nav-respo{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .header-general{
        display: grid;
        grid-template-areas: "d e";
        grid-template-columns: 10% 90%;
        width: 100%;
        margin: auto ;
    }
    .header-titulo{
        background: #323232;
        grid-area: e;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 3rem;
        text-align: center;
        color: cornsilk;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        
    }
    .header-nav{
        display: none;
    }
    .nav-respo{
        background: #323232;
        grid-area: d;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1.7rem;
        text-align: center;    
        margin-top: 0;
        padding-top: 2.2rem;
        padding-bottom: 1.5rem;
        display: grid;   
        padding-left: 2rem;
    }
    .nav-link{
        color: cornsilk;
        text-decoration:none;
        padding-left: 0rem;
    }
    .nav-link:hover { color: #b2936d; }
    .nav1{
        grid-area: f;
    }
    .nav2{
        grid-area: g;
    }
    .nav3{
        grid-area: h;
    }
    .nav4{
        grid-area: i;
    }
    .nav-respo>ul{
        display: none;
        list-style:none;
      }
      
    .nav-respo>input:checked  ~ ul{
        display:grid;
        grid-template-areas: "f""g""h""i";
        justify-content: stretch;
        align-content:flex-end;        
        justify-items: flex-start;
      }
      
    .nav-respo>input {
        display: none;
      }
      
    .nav-respo>label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid cornsilk;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        color: cornsilk;
        background-color:#505050; 
        padding: 0.5rem;
      }
      
    .nav-respo>label:hover{
        background: cornsilk;
      }
      
    .nav-respo>input:checked ~ label {
        background: cornsilk; 
      }
      
    .nav-respo>ul{
        margin-top:0;
        padding: 0;
        width: 200px;
        font-size: 1.6rem;
      }      
      
    .nav-respo>li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
      
    .nav-respo>li:hover {
        filter: brightness(110%);
      }
     
}

.main-bodegas{
    display: grid;
    grid-template-areas: "carousel""galeria";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    grid-row-gap: 7rem;
}
.carousel {
    grid-area:carousel ;
    width: 80rem; 
    height: auto; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
   }
.imgGrande{
    max-height: 45rem;
}
@media screen and (max-width: 640px) {
    .carousel {
    grid-area:carousel;
    width: auto;
    height: auto; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
   }

   .imgGrande{
    max-height: 27rem;
    }
}
.galeria-imagenes{
    grid-area: galeria;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    justify-self: center;
    display: grid;
    grid-template-areas: "tituloG""k""l""m";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;

}
.galeria-imagenes h2{
    font-size: 3rem;
    font-weight: 300;
    color:cornsilk;
    background-color: #b2936d;
    padding: 1.5rem;
}
.galeria-imagenes a{
    color: cornsilk;
    text-decoration:none;    
}
.galeria-imagenes a h2:hover { 
    background-color: #323232; 
    transition-duration: 0.4s;
    transition-property: background-color;
}
#textoGal{  
    grid-area: tituloG;  
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    text-align: center;
    color:cornsilk;
    font-weight: 300;
    background-color: #323232;
    width: 100%;
    justify-self: center;
    margin: auto;
    margin-bottom: 3rem;
    padding: 20px;
} 
@media screen and (max-width: 640px) {
    #textoGal{
        font-size: 3rem;
    }
}

.galeria1{
    grid-area: k;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
}
.galeria2{
    grid-area: l;
    width: 100%;
    text-align: center;
}
.galeria3{
    grid-area: m;
    width: 100%;
    text-align: center;
}

.galeriaBodegas {
    padding: 40px;
}
.galeriaBodegas .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 520px;
    width: 100%;
  }
.galeriaBodegas .lightbox img {
    width:90%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.row>img{
    max-height: 0.1rem;
} 

.lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.galeriaBodegas img {
    border-radius: 6px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.galeriaBodegas .column{
    padding: 0px;
}


.bodega-footer{
    width: 100%;
    height: auto;
    background: #323232;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: grid;
    grid-template-areas: "iconosF""footertxt""copy";
    grid-template-columns: 100%;
    justify-content: center;
}

.footer-iconos{
    grid-area: iconosF;
    text-align: center;
    font-size: 2.5rem;
    color: cornsilk;  
    padding-top: 2rem;  
    padding-bottom: 2rem;
}
.fab:hover {    
    opacity: 0.7;
    color: #b2936d;
    
} 
.far:hover {    
    opacity: 0.7;
    color: #b2936d;    
} 
.fab{
    padding: 1rem;
}
.far{
    padding: 1rem;
}

.footer-txt{
    grid-area: footertxt;
    font-size: 1.3rem;
    justify-content: center;
    display: grid;
    color: cornsilk;
    width: 100%;
    grid-template-areas: "txt1 txt2 txt3";
    /* grid-template-columns: 100%; */
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
}
.footer-txt h4{
    font-size: 1.7rem;
}
.footer-txt p{
    margin-bottom: 0.1rem;
}
.footer-txt a{
    color: cornsilk;
}
.footer-txt1{
    grid-area: txt1;
    text-align: center;
    padding-right: 8rem;
}
.footer-txt2{
    grid-area: txt2;
    text-align: center;
    padding-right: 8rem;
    padding-left: 8rem;
}
.footer-txt3{
    grid-area: txt3;
    text-align: center;
    padding-left: 8rem;
}
.footer-copy{
    grid-area: copy;
    color: cornsilk;
    font-size: 1.2rem;
    margin-left: 2rem;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    .footer-txt1{
        padding-right: 4rem;
    }
    .footer-txt2{
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .footer-txt3{
        padding-left: 4rem;
    }
}
@media screen and (max-width: 640px) {
    .footer-txt{
        grid-area: footertxt;
        font-size: 1.3rem;
        justify-content: center;
        align-content: center;
        display: grid;
        color: cornsilk;
        width: 100%;
        grid-template-areas: "txt1" "txt2" "txt3";
        justify-content: center;
        margin-bottom: 2rem;        
    }
    .footer-txt1{
        grid-area: txt1;
        justify-self: center;
        text-align: center;
        margin: 2rem;
        padding: 0rem;
    }
    .footer-txt2{
        grid-area: txt2;
        justify-self: center;
        text-align: center;
        margin: 2rem;
        padding: 0rem;
    }
    .footer-txt3{
        grid-area: txt3;
        justify-self: center;
        text-align: center;
        margin: 2rem;
        padding: 0rem;
    }
    .footer-txt h4{
        font-size: 2.1rem;
    }
    .footer-txt p{
        font-size: 1.9rem;
    }
    .footer-copy p{
        font-size: 1.6rem;
    }
}

.titulo-bodega-vinos{
    color: cornsilk;
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #323232;
    /* background: #b2936d; */
    margin-top: 3rem;
    text-align: center;
    padding: 1.5rem;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 4rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    /* padding: 0 4px; */
    padding: 3rem 5rem;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .txtTituloVino{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    display: flex
    
  }

  .txtVino{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex
    
  }
  .precio{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    font-weight: bold;
    color: grey;
    text-align: center;
    justify-content: center;
    display: flex
  }
  
  p .button-vino{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.3rem;
    outline: 0;
    color: white;
    background-color: #323232;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: auto;
    width: 30%;
    text-align: center;
    justify-content: center;
    display: flex    
  }
  p .button-vino:hover {
    opacity: 0.7;
  }
  

  @media screen and (min-width: 640px) and (max-width: 1280px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 640px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .titulo-quienes{
    color: cornsilk;
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #323232;
    margin-top: 3rem;
    text-align: center;
    padding: 1.5rem;
    align-items: stretch;
    justify-content: center;
    display: flex 
  }
  .text-quienes{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 10rem;
  }
  @media screen and (max-width: 640px) {
    .text-quienes{
        padding: 1.8rem 1.5rem;
      }
  }

  .text-quienes img{
      max-width: 99%;
  }

  .hijo1{
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 3rem 2.8rem;
    text-align: justify;
  }
  
  .hijo2{
    padding: 2rem;
}

.main-contacto{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-contacto .form{
    width:540px;
    height:640px;
    background:#323232;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;      
    position:relative
    
}
@media screen and (max-width: 640px) {
    .main-contacto .form{       
        margin:calc(45vh - 220px) auto;              
    }
}

.main-contacto h2{
    margin:30px 0;
    padding-bottom:10px;
    width:180px;
    font-size: 2.6rem;
    color:cornsilk;
    border-bottom:2px solid cornsilk
}

.main-contacto input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    font-size: 1.5rem; 
    transition:all .3s;
    border-bottom:1.5px solid cornsilk
}

.main-contacto p{
    margin: 6rem auto;   
    
}
.main-contacto input:focus{
    border-bottom:2px solid #b2936d
    
}
.main-contacto p:before{    
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:2rem;
    color:cornsilk
    
}
.main-contacto button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    font-size: 1.5rem;
    border:2px solid cornsilk;
    background:0;color:cornsilk;
    cursor:pointer;
    transition:all .3s
}

.main-contacto button:hover{
    background:#b2936d;
    color:#fff
}

.main-contacto div{
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}

@media screen and (min-width: 640px) and (max-width: 1280px) {

    .main-contacto .form{
        width:440px;
        height:540px;
    }
    .main-contacto p{
        margin: 4rem auto;    
    }
}

@media screen and (max-width: 640px) {
    .main-contacto .form{
        width:340px;
        height:540px;
    }
    .main-contacto p{
        margin: 3rem auto;    
    }
}

/*


/* echo "# proyectoFinal2117" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/spalenzam/proyectoFinal2117.git
git push -u origin main */
